.pageHeader {
    text-align: center;
    margin-bottom: 1em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 22%;
    border: 1px dotted black;
    padding: 1em;
    margin: 0;
    text-align: left;
}
